@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', serif;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #7d797b;
  color: #30088756;
  height: 100%;
} 

#main-navigation {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
}

#main-navigation a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active{
    color: #cf79f1;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active{
    color: #cf79f1(197, 15, 15);
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

 button,
.btn {
  cursor: pointer;
  font: inherit; 
  padding: 0.5rem 1.5rem;
  background-color: #350490;
  border: 1px solid #350490;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  text-align: right;

}  

button:hover,
.btn:hover {
  background-color: #230161;
  border-color: #230161;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 3rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}
.form{
  margin-left: 350px;
  text-align: center;
  font-size: large;
  border:solid;
  width:400px;
  height:300px;
  padding:50px;
  background-color: #c8b4f2;
  margin-top: 50px;
  display: inline-block;
  border-radius: 2rem;
}


img {
  width:550px;
  height: 400px;
  margin-top: 50px;
  padding:30px;
  border-radius: 1rem;
} 