{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ image.name}}</title>
    <link rel="stylesheet" href="{% static 'app/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/meetup_detail.css' %}">
</head>
<body id="body">
    <main>
        {% if Image_found %}
        <article>

            <img id="main-image" src="{{ image.image.url}}" alt="{{ image.name}}">
            <section id="locatiion">
            </section>
            <section id="details">
                <h2>what's This image About?</h2>
                <h3>{{image.content}}</h3>
                <footer>Need more details? <a href=""> please contact the organizer </a> (but don't spam us)</footer>
            </section>
        </article>
        {% else %}
        <h2>No image found for this slug, sorry!</h2>
        {% endif %}
    </main>
</body>
</html>